/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; }
  header h1 {
    right: 1%;
    position: inherit;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3.5rem;
    margin-top: 1rem; }
    @media screen and (max-width: 1400px) {
      header h1 {
        font-size: 2.5rem; } }
  header div, header a {
    color: lightgray; }
    header div.active_lang, header a.active_lang {
      color: white;
      font-weight: bold; }
  header div {
    position: absolute;
    right: 0;
    top: 60%;
    font-size: 1.5rem;
    margin-right: 1rem; }

nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  background-color: rgba(12, 49, 0, 0.5); }
  nav div {
    background-color: rgba(12, 49, 0, 0.5);
    transform: rotate(10deg);
    height: 100%;
    width: 100%;
    position: inherit;
    z-index: -100; }
  nav ul {
    margin: 1.5rem;
    font-size: 1.8rem; }
    nav ul li {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem; }
      nav ul li a {
        color: #BFBFBF;
        text-decoration: none; }
      nav ul li.active a {
        color: #FFFFFF; }
    nav ul ul {
      font-size: 1.3rem;
      margin: 0;
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }

section {
  height: 100vh;
  background-position: center;
  background-size: cover; }
  section div {
    width: 50%;
    right: 0;
    position: absolute;
    background-color: rgba(12, 49, 0, 0.65);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    section div h1 {
      font-size: 4rem;
      margin-left: 1rem;
      margin-bottom: 1rem; }
    section div h2 {
      font-size: 1.5rem;
      margin-left: 1rem; }
    section div a {
      color: white; }
    section div ul {
      text-align: justify;
      font-size: 1.3rem; }
      section div ul b {
        font-weight: bold; }
      section div ul li {
        margin: 1rem; }
        section div ul li ul {
          list-style-type: square; }
          section div ul li ul li {
            margin: 0rem;
            margin-left: 1rem; }
          section div ul li ul ul {
            list-style-type: circle; }
    section div.large {
      width: 75%; }
    section div form {
      margin-left: 1rem; }
      section div form input {
        margin: 0.5rem; }

#accueil {
  background-image: url("../img/page1.jpg"); }

#activite {
  background-image: url("../img/page2.jpg"); }

#problematique_boues {
  background-image: url("../img/page3.jpg"); }

#expertise_audi {
  background-image: url("../img/page4.jpg"); }

#maitrise_ouvrage {
  background-image: url("../img/page5.jpg"); }

#etudes_marche {
  background-image: url("../img/page6.jpg"); }

#normalisation {
  background-image: url("../img/page7.jpg"); }

#assistance_technique {
  background-image: url("../img/page8.jpg"); }

#autres {
  background-image: url("../img/page9.jpg"); }

#reference {
  background-image: url("../img/page10.jpg"); }
  #reference div {
    justify-content: flex-end; }
  #reference ul {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap; }
    #reference ul li.reference_item {
      width: 40%; }
    #reference ul ul {
      display: block; }

#societe {
  background-image: url("../img/page11.jpg"); }

#contact {
  background-image: url("../img/pagecontact.jpg"); }

body {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; }

/*# sourceMappingURL=styles.css.map */