// _content.scss

section {
    height: 100vh;
    background-position: center;
    background-size: cover;
    div {
        width: 50%;
        right: 0;
        position: absolute;
        background-color: rgba(12, 49, 0, 0.65);
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 4rem;
            margin-left: 1rem;
        }
        ul {
            text-align: justify;
            font-size: 1.3rem;
            b {
                font-weight: bold;
            }
            li {
                margin: 1rem;
                ul {
                    list-style-type: square;
                    li {
                        margin: 0rem;
                        margin-left: 1rem;
                    }
                    ul {
                        list-style-type: circle;
                    }
                }
            }
        }
        &.large {
            width: 75%;
        }
    }
}

#accueil {
    background-image: url("../img/page1.jpg");
}

#activite {
    background-image: url("../img/page2.jpg");
}

#problematique_boues {
    background-image: url("../img/page3.jpg");
}

#expertise_audi {
    background-image: url("../img/page4.jpg");
}

#maitrise_ouvrage {
    background-image: url("../img/page5.jpg");
}

#etudes_marche {
    background-image: url("../img/page6.jpg");
}

#normalisation {
    background-image: url("../img/page7.jpg");
}

#assistance_technique {
    background-image: url("../img/page8.jpg");
}

#autres {
    background-image: url("../img/page9.jpg");
}

#reference {
    background-image: url("../img/page10.jpg");
    div {
        justify-content: flex-end;
    }
    ul {
        font-size: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        li.reference_item {
            width: 40%;
        }
        ul {
            display: block;
        }
    }
}

#societe {
    background-image: url("../img/page11.jpg");
}

#contact {
    background-image: url("../img/pagecontact.jpg");
}
