// _content.scss

section {
    height: 100vh;
    background-position: center;
    background-size: cover;
    div {
        width: 50%;
        right: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p {
            text-align: justify;
        }
    }
}

#accueil {
    background-image: url("../img/page1.jpg");
}

#activite {
    background-image: url("../img/page2.jpg");
}

#problematique_boues {
    background-image: url("../img/page3.jpg");
}

#expertise_audi {
    background-image: url("../img/page4.jpg");
}

#maitrise_ouvrage {
    background-image: url("../img/page5.jpg");
}

#etudes_marche {
    background-image: url("../img/page6.jpg");
}

#normalisation {
    background-image: url("../img/page7.jpg");
}

#assistance_technique {
    background-image: url("../img/page8.jpg");
}

#autres {
    background-image: url("../img/page9.jpg");
}

#reference {
    background-image: url("../img/page10.jpg");
}

#societe {
    background-image: url("../img/page11.jpg");
}

#contact {
    background-image: url("../img/pagecontact.jpg");
}
