// header.scss

header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    h1 {
        right: 1%;
        position: inherit;
        
        font-family: $title-font-stack;
        font-style: italic;
        font-weight: bold;
        font-size: 3.5rem;
        
        @media screen and (max-width: 1400px) {
            font-size: 2.5rem;
        }
        
        margin-top: 1rem;
    }
    
    div, a {
        color: lightgray;
        &.active_lang {
            color: white;
            font-weight: bold;
        }
    }
    
    div {
        position: absolute;
        right: 0;
        top: 60%;
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}
