// header.scss

header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    h1 {
        right: 1%;
        position: inherit;
        
        font-family: sans;
        font-style: italic;
    }
}
