// _menu.scss

nav {    
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    
    background-color: rgba(0,0,0, 0.50);
    
    div {
        background-color: rgba(0,0,0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        transform: rotate(10deg);
        height: 100%;
        width: 100%;
        position: inherit;
        z-index: -100;
    }
    
    ul {
        margin: 1.5rem;
        font-size: 1.8rem;
        
        li {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            
            a {
                color: $nav-default;
                text-decoration: none;
            }
            
            &.active {
                a {
                    color: $nav-active;
                }
            }
        }
        
        ul {
            font-size: 1.3rem;
            margin: 0;
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}
