// _variables.scss

$font-stack: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
$title-font-stack: Arial, Helvetica Neue, Helvetica, sans-serif;

$nav-primary: #FFFFFF;
$nav-secondary: #BFBFBF;
